.signup{
    width: fit-content;
    height: 80vh;
    border: solid;
    margin-left: 70px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between

}